---
authors:
  - Sean Sullivan <@sean-m-sullivan>
  - Martin Slemr <@mslemr>
  - Platform Services Engineering
dependencies: {}
description: A collection of roles to manage Ansible Automation Platform
documentation: https://github.com/redhat-cop/ah_configuration/blob/master/README.md
license:
  - GPL-3.0-only
namespace: {{ collection_namespace }}
name: {{ collection_name }}
version: {{ collection_version }}
readme: README.md
repository: {{ collection_repo }}
issues: {{ collection_repo }}/issues
tags: [infrastructure]
build_ignore:
  - galaxy.yml.j2
  - release.yml
  - .github
  - .ansiblelint.yml
  - .yamllint.yml
  - "*.tar.gz"
...
